<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>

    </div>
    <div class="col-sm-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">查看课表</h3>
        </div>
        <div class="panel-body" style="min-height: 450px">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th colspan="2">节次/星期</th>
              <th>星期一</th>
              <th>星期二</th>
              <th>星期三</th>
              <th>星期四</th>
              <th>星期五</th>
              <th>星期六</th>
              <th>星期日</th>
            </tr>
            </thead>
            <tbody>
            <% 11.times do |j| %>
              <tr>
                <% if j%4==0 %>
                  <td rowspan="4">
                    <%= ['上午','下午','晚上'][j/4] %>
                  </td>
                <% end %>
                <td><%= j+1 %></td>
                <% 7.times do |i| %>
                  <% if @schedule[i][j] %>
                    <td class="success">
                      <a href="#"
                      data-toggle="popover"
                      data-name="<%= @schedule[i][j].name%>"
                      data-week="<%= @schedule[i][j].course_week%>"
                      data-room="<%= @schedule[i][j].class_room%>"
                      rel="drevil">
                        <%= @schedule[i][j].name%>
                      </a>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    $("[rel=drevil]").popover({
      trigger:'manual',
      placement : 'top', //placement of the popover. also can use top, bottom, left or right
      trigger: 'hover',
      container: 'body',
      title: function() {
        var data = $(this).data('rights');
        return data;
      },
      html: 'true', //needed to show html of course
      content: function() {
        var course_week = $(this).data('week');
        var course_room = $(this).data('room');
        return course_week + "<br>" + course_room;
      },
      animation: false
    }).on("mouseenter", function () {
      var _this = this;
      setTimeout(function () {
        if (!$(".popover:hover").length) {
          $(_this).popover("hide")
        }
      }, 3000);
    });
  });
</script>